/******************************************************************************

    プロフィール

*******************************************************************************/
/* コンテナ */
.container {
    margin: 0 auto;
}

/* ヘッダー */
.profile-header {
    display: flex;
    max-width: 1000px;
    padding: 0 50px;
    margin: auto;
    align-items: center;
    margin-bottom: 40px;
    gap: 20px;
}

/*=============================================================================
    ユーザー情報
==============================================================================*/
/* ユーザー画像 */
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ユーザー名 */
.profile-name {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    flex-grow: 1;
}

/* 編集ボタン */
.edit-profile-button {
    padding: 8px 16px;
    border: 2px solid #ff5555;
    border-radius: 10px;
    color: #ff5555;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}

/*=============================================================================
    商品情報
==============================================================================*/
/* タブ */
.profile-tabs {
    display: flex;
    padding-left: 50px;
    border-bottom: 1px solid #5f5f5f;
}

/* ボタン */
.tab-button {
    margin-left: 50px;
    background: none;
    border: none;
    cursor: pointer;
    color: #5f5f5f;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}
.tab-button.active {
    color: #ff0000;
    font-weight: bold;
}

/* コンテンツ */
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
    padding-top: 60px;
}

/******************************************************************************

    レスポンシブデザイン

*******************************************************************************/
@media screen and (max-width: 768px) {
    .profile-header {
        flex-wrap: wrap;
    }

    .profile-image {
        width: 100px;
        height: 100px;
    }

    .profile-name {
        font-size: 20px;
    }

    .edit-profile-button {
        font-size: 14px;
        padding: 6px 12px;
    }

    .tab-button {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media screen and (max-width: 480px) {
    .profile-container {
        padding: 10px;
    }

    .profile-image {
        width: 80px;
        height: 80px;
    }

    .profile-header {
        gap: 10px;
    }

    .tab-button {
        font-size: 14px;
        padding: 6px 12px;
    }
}
