.header {
    display: flex;
    position: -webkit-sticky;
    position: sticky;

    top: 0;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;

    background: #000;
    width: 100%;
    height: 82px;
    z-index: 1000;
}

.header-logo {
    display: inline-block;

    padding-left: 40px;
}

.header-search {
    flex-grow: 1;
    margin: auto;
    margin-left: 90px;
    margin-right: 90px;
}

.header-search__input {
    border-radius: 5px;

    width: 100%;
    height: 50px;
    padding: 0 30px;

    font-size: 24px;
}

.header-nav {
    display: flex;
    grid-template-columns: repeat(auto-fit);
    gap: 15px;
    align-items: center;
}

.header-nav__logout-button,
.header-nav__login-button,
.header-nav__mypage-button {
    width: 135px;
    height: 50px;
    background: #000;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.header-nav__exhibiton-button {
    width: 100px;
    height: 50px;
    background: #fff;

    border-radius: 4px;

    font-size: 24px;
    cursor: pointer;
}
